header {
    width: 100%;
    height: 120px;
}

#top {
    display: flex;
    align-items: center;
    background-color: var(--black-light);
    height: 60px;
}

#top p {
    color: var(--white);
    margin: 0 auto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 196.19%;
}

#bottom {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: var(--white);
}

#bottom p {
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 196.19%;
    margin: 0 auto;
}